
.pmTokenizer { font-size: 20px ; }
.pmTokenizer { border : 1px solid black; }
.pmTokenizer input { width: 30px;}
.pmTokenizer .acInput { border : 0 ; font-size: 1em }
.pmTokenizer .selected { font-weight: #c0c0c0; background-color: lightgrey; }
.pmTokenizer .token { 
  cursor: pointer; 
  display:inline-block; padding: 2px; margin: 4px; border: 1px solid #aaa; }

.pmTokenizer .token:hover {
  background-color: #eee; 
}


.pmTokenizer .token.invalid { 
  background-color: pink; 
  border: 1px solid red;
}
.pmTokenizer input { outline: none }
.pmTokenizer .choices li { cursor: pointer; }
